h1 task page
a(href="tasks/new") New

table
  thead
    tr
      th Name
      th Due
      th Photo
      th Complete
      th Tags
      th Priority
  tbody
    each task in tasks
      tr
        td #{task.name}
        td #{task.due}
        td #{task.photo}
        td
        td #{task.tags}
        td #{task.priority}

