h1 task page

a(href="tasks/new") New

table
  thead
    tr
      th Name
      th Due
      th Photo
      th Tags
      th Priority
      th Complete
  tbody
    each task in tasks
      tr
        td #{task.name}
        td #{moment(task.due).format("dddd, MMMM Do YYYY, h:mm:ss a")}
        td
          img(src="#{task.photo}", height="50")
        td #{task.tags}
        td #{task.priority}
        td
          button(type="checkbox")
          button Hello

