h1 task page

a(href="tasks/new") New

table
  thead
    tr
      th Name
      th Due
      th Photo
      th Tags
      th Priority
      th Complete
  tbody
    each task in tasks
      tr
        td #{task.name}
        td #{task.due}
        td #{task.photo}
        td #{task.tags}
        td #{task.priority}
        td

